html
  head
    title='DevOps Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Folks!!! 
        p This is DevOps Demo.
        p Request served by !{myInstance}
        p we are at commit !{commitReference} which was built at !{currentBuildDate}
        img.image(src='/public/images/devops.png')
        img.image(src='/public/images/devops1.png')
        img.image(src='/public/images/devops2.png')